@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(amatic-sc-regular.woff2) format('woff2'), url(amatic-sc-regular.woff) format('woff');
}

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(amatic-sc-bold.woff2) format('woff2'), url(amatic-sc-bold.woff) format('woff');
}

html, body {
	border: 0;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #eee;
	background-image: url(handmadepaper-brown.png);
	color: #333;
}

a, a:visited, a:active, a:hover {
	color: #095169;
	font-weight: bold;
	outline: none;
	text-decoration: none;
}

.col1, .col2 {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

.col1 {
	padding-right: 1em;
}

.col2 {
	padding-left: 1em;
}

h1, h2, h3 {
	margin: 0 0 1em;
	width: 100%;

	font-family: sans-serif;
	font-weight: bold;
}

h3 {
	color: #9fd86b;
}

ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.container {
	position: relative;

	width: 800px;
	margin: 0 auto;
}

main {
	font-size: 1.2em;
	line-height: 1.4em;
}

header {
	padding-top: 2em;
	/* Prevent margin collapsing */
	padding-bottom: 1px;

	text-align: center;
	background-color: #9fd86b;
}

header .monogram {
	margin-bottom: 1em;
}

nav {
	padding: 1em 0;

	text-align: center;
}

nav li {
	display: inline;
	margin-left: 0.6em;
}

nav li:first-child {
	margin-left: 0;
}

.photo-break {
	margin-top: 3em;
	margin-bottom: 3em;
	display: block;
}

.photo-break:first-child {
	margin-top: 0;
}

section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

section:first-of-type {
	margin-bottom: 3em;
}

section > .container {
	padding-top: 3em;
	padding-bottom: 3em;
}

section > .container, section > .container a {
	color: #eee;
}

section em {
	font-style: normal;
}

.address {
	margin-top: 2em;
}

.party {
	width: 49%;
	display: inline-block;
}

.party.party-hers {
	text-align: right;
}

.party ul {
	padding: 0;
}

.party li {
	margin-bottom: 1em;
}

.party img {
	width: 100%;
}

.party .name {
	display: block;
}

.party .rltn {
	font-size: 0.8em;
	line-height: 0.8em;
}

footer {
	margin: 4em 0;

	text-align: center;
}

footer img {
	width: 200px;
}

/**
 * The following styles are intended for resolutions >= 800px. They are
 * declared without a media query to support legacy browsers.
 */
header .monogram {
	width: 400px;
}

nav {
	font-size: 1.3em;
}

.address {
	font-size: 1.3em;
}

.party li {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.party li:nth-child(2n) {
	margin-left: 5%;
}

@media all and (max-width: 800px) {
	.container {
		width: 500px;
	}

	header .monogram {
		width: 80%;
	}

	nav {
		font-size: 1em;
	}

	nav li {
		width: 45%;
		display: inline-block;
	}

	.col1, .col2 {
		display: inline;
		width: auto;
		padding: 0;
	}

	.address {
		font-size: 1em;
	}

	.party ul {
		width: 80%;
	}

	.party-hers ul {
		margin: 0 0 0 auto;
	}

	.party li {
		display: block;
		width: auto;
	}

	.party li:nth-child(2n) {
		margin-left: 0;
	}
}

@media all and (max-width: 500px) {
	.container {
		width: 100%;
	}
}
