@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(amatic-sc-regular.woff2) format('woff2'), url(amatic-sc-regular.woff) format('woff');
}

@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(amatic-sc-bold.woff2) format('woff2'), url(amatic-sc-bold.woff) format('woff');
}

html, body {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #eee;
	background-image: url(handmadepaper-brown.png);
	color: #333;
}

a, a:visited, a:active, a:hover {
	color: #095169;
	font-weight: bold;
	outline: none;
	text-decoration: none;
}

h1, h2, h3 {
	border-width: 0 3px;
	padding: 0 50px;
	margin: 0 -50px 1em;
	width: 100%;

	border-style: solid;
	color: #9fd86b;
	font-family: sans-serif;
	font-weight: bold;
}

ul {
	list-style-type: none;
}

main {
	width: 500px;
	margin: 0 auto;

	font-size: 1.2em;
	line-height: 1.4em;
}

header {
	margin-top: 2em;

	text-align: center;
}

header .monogram {
	width: 80%;
	margin-bottom: 1em;
}

header .photo-break {
	margin: 0;
}

.photo-break {
	width: 100%;
	margin: 3em 0;
}

.photo-break, .party img {
	border-width: 1px;

	border-color: #095169;
	border-style: solid;
}

nav {
	font-size: 0.85em;
	text-align: center;
	word-spacing: -0.2em;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline;
	margin-left: 0.6em;
}

nav li:first-child {
	margin-left: 0;
}

.party {
	width: 49%;
	display: inline-block;
}

.party.party-hers {
	text-align: right;
}

.party ul {
	padding: 0;
}

.party li {
	margin-bottom: 1em;
}

.party img {
	width: 80%;
}

.party .name {
	display: block;
}

.party .rltn {
	font-size: 0.8em;
}

p.external-link {
	text-align: center;
	word-break: keep-all;
}

footer {
	margin: 4em 0;

	text-align: center;
}

footer img {
	width: 200px;
}

.huggers {
	position: fixed;
	top: 20%;
	z-index: -1;

	width: 600px;
	margin-left: -50px;
	height: 60%;
	border-width: 0 3px;

	border-style: solid;
	border-color: #095169;
}

@media all and (max-width: 640px) {
	.huggers {
		display: none;
	}

	h1, h2, h3 {
		margin-left: 0;
		margin-right: 0;
		border-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and (max-width: 500px) {
	main {
		width: 100%;
	}
}
